nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  -webkit-user-select: none;
  user-select: none;
}

nav #cityInfo {
  margin-left: 20px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 600;
}

nav #weatherIcon {
  position: absolute;
  left: -30px;
  top: -10px;
}

nav #weather {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav #weatherCondition {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 5px;
  margin-left: 15px;
}

nav #cityName {
  font-size: 15px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

header #fiveDayWeather {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

header #fiveDayWeather img {
  margin: -10px;
}

header #fiveDayWeather > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 200px;
  background-color: transparent;
  color: white;
  border: 1px solid black;
  margin: 0px 10px;
  border: none;
}

header #fiveDayWeather .weatherDay {
  font-size: 20px;
  font-weight: 600;
}
header #fiveDayWeather .weatherTempMin {
  font-size: 20px;
  color: #80a8f0;
  font-weight: 600;
  margin-right: 5px;
}

header #fiveDayWeather .weatherTempMax {
  font-size: 25px;
  color: #cd3534;
  font-weight: 600;
}

header #fiveDayWeather .weatherDesc {
  font-size: 15px;
}
